body {
    margin: 0;
    min-height: 90vh;
    align-items: center;
}

.item___header {
    text-align: center;
}

.logo--item {
    align-content: center;
}

.item__img {
    width: 100px;
}

.login--text {
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 22px;
    padding: 5px;
}

.login {
    background-color: #434343;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 25px #0006;
    text-align: center;
}

.login__item {
    padding: 6px 20px;
}

.form--input {
    width: 80%;
    box-sizing: border-box;
    padding: 12px 12px;
    border: none;
    border-left: 3px solid #999;
    box-shadow: 0px 0px 15px #0001;
}

.button--login {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #ffffff;
    border-color: #ffffff;
    :hover {
        color: #fff;
        background-color: #a8a8a8;
        border-color: #a8a8a8;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.symbol-fill {
    fill: #e4e4e4;
}

.symbol-fill-dark {
    fill: #000;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

main.table-responsive {
    overflow: auto;
}

.display-content {
    width: fit-content;
    display: contents;
}

.pad-15 {
    padding: 20px;
}

.h2-form {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
    padding: 5px;
}

.form {
    background-color: #ededed;
    padding: 40px 0;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 35px #0006;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.form__item {
    padding: 10px 20px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between-gap25 {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.width_cells {
    min-width: 123px;
}

.edit-option {
    color: #6b6b6b;
}

.center_content {
    align-content: center;
}

.form__input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 2px solid #999;
    border-radius: 5px;
    color-scheme: auto;
}

.form__label {
    font-size: 0.9em;
    line-height: 2;
    color: #000;
}

.form__input-wrapper {
    display: flex; /* Para que los elementos dentro se alineen en la misma línea */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre los elementos (ajústalo según tus necesidades) */
}

.width-100 {
    width: 100%;
}

.button-general {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #c5873c;
    border-color: #c5873c;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-general:hover {
    color: #c5873c;
    background-color: #ffffff00;
    border-color: #c5873c;
}

.center-flex {
    display: flex;
    justify-content: center;
}

.notFound {
    text-align: center;
    z-index: 5;
    height: 100vh;
    max-width: 100%;
    align-content: center;
}

.notFound_text {
    font-size: 18px;
    margin-top: 0;
}

.notFound_title {
    font-size: 95px;
    margin: 0;
}

.notFound_button {
    background: #c5873c;
    padding: 12px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    color: #fff;
    font: 400 16px/2.5 Nunito;
    text-transform: uppercase;
    cursor: pointer;
}

.margin-10 {
    margin: 0 10px;
}

.margin-left20 {
    margin: 0 0 0 20px;
}

.money-style {
    color: #000;
    padding-top: 10px;
    margin: 0;
    font-weight: bold;
    padding-left: 10px;
}

.viewRequestTable {
    margin: auto;
    margin-top: 40px;
    width: fit-content;
}

td.pad-7-rem {
    padding: 0.5rem 7rem !important;
}

.pad-3-rem {
    padding: 0.5rem 2.5rem !important;
}

.action-symbol {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
